@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Philosopher', sans-serif;
}
img {
    vertical-align: middle;
    width: 100vw;
    height: 100vh;
    filter: brightness(60%);
    background-attachment: fixed;
}
.slide:nth-child(2){
    display: none;
}
.slide:nth-child(3){
    display: none;
}
.slide:nth-child(4){
    display: none;
}
.slide:nth-child(5){
    display: none;
}
.slide:nth-child(6){
    display: none;
}
.slide:nth-child(7){
    display: none;
}
.slide-container {
    position: relative;
    margin: auto;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin: 80px;
    padding: 20px;
    margin-top: -55px;
    color: white;
    font-weight: bold;
    font-size: 28px;
    border-radius: 0 3px 3px 0;
    transition: 0.6s ease;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.caption {
    color: white;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 40%;
}
.caption p {
    font-size: 18px;
    padding-top: 5px;
}
.caption h1 {
    font-size: 55px;
}
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 10%;
    position: absolute;
    width: 100%;
    z-index: 1;
}
ul {
    display: flex;
    list-style: none;
}
li a {
    padding-right: 15px;
    font-size: 19px;
    color: white;
    text-decoration: none;
}
.navbar a {
    color: white;
    text-decoration: none;
}
.button {
    width: 150px;
    height: 30px;
    background-color: white;
    border-radius: 26px;
    margin: auto;
    margin-top: 13px;
    padding-top: 5px;
}
.button a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: bold;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 20px;
    background-color: wheat;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    bottom: 30%;
}
.active, .dot:hover {
    background-color: #717171;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}
@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}
 